<main class="form-signin text-center">
  <h1 class="h3 mb-3 fw-normal">Search</h1>
  <div class='container'>
    <div class="page-hero d-flex align-items-center justify-content-center">
      <%= render('shared/search_form')%>
    </div>
  </div>
</main>
