<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @courier_request.receiver_fullname %></h1>
    <p>
      Someone has sent you a courier for deliver, and it iwll be shortly be delivered to your doorstep.
      your tracking number is: <%= @courier_request.tracking_number %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
